.Nav{
    position:absolute;
    top:10px;
    left:10px;
    width:100px;
    display:flex;
    flex-direction: column;
    background-color: burlywood;
}

.Nav>a {
    text-align: center;
    text-decoration:none;
    font-family: fantasy;
    font-size:30px;
    border: 1px solid black;
    color: white;
 
}